@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.AllEvents {
    width: 100%;
    height: auto;
    padding: 16px 0;
    box-sizing: border-box;

    .eventsContainer {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}