@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.WorkspaceControls {
    display: flex;
    width: 100%;

    .events {
        @extend %col-top-left;
        border-radius: 10px;
        padding: $padding-std;
        box-sizing: border-box;
        margin: 16px 16px 16px 0;
        background: $space4;
        width: 25%;

        .eventsContainer {
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            .button {
                @extend %btn-styles;
                margin: 4px 8px 4px 0;
            }
        }
    }

    .eventInfo {
        @extend %col-top-left;
        border-radius: 10px;
        padding: $padding-std;
        box-sizing: border-box;
        margin: 16px 16px 16px 0;
        background: $space4;
        width: 75%;

        .infoCard {
            display: flex;
            align-items: center;
            justify-content: center;
            width: auto;
            padding: 8px 16px;
            border-radius: 5px;
            background: $blue-bg;
            
            img {
                margin: 0 16px 0 0;
            }

            p {
                margin: 0;
            }
        }
    }
}