@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.ProfileCard {
    max-width: 350px;
    background: $space4;
    border-radius: 10px;
    padding: $padding-std;
    box-sizing: border-box;
    text-align: left;
    @extend %col-top-left;
    
    img {
        border-radius: 100%;
        width: 100px;
        height: 100px;
        box-shadow: $glow;
        border: 1px solid $primary-accent;
    }
    
    ul {
        padding: 0 0 0 20px;
        margin: 0;
    }
}