@import '../../styles/variables';

.UserList {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: $space4;
    padding: $padding-std;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 16px 16px 16px 0;

    .title {
        display: flex;
        align-items: center;

        img {
            margin: 0 16px 0 0;
        }
    }
}