@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

/* ---- STYLES ----- */
.layout {
    width: 100%;
    box-sizing: border-box;
    @extend %col-center;
    background: $dark-bg;
    color: white;
}
.topHeader {
    width: 100%;
    height: auto;
}
.normalContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 75px 0 0 0;

    main {
        width: 100%;
        box-sizing: border-box;
    }
}
.main {
    position: relative;
    width: calc(100% - 75px);
    height: 100%;
    padding: $padding-std;
    box-sizing: border-box;
    @extend %col-top-left;
}